@page "/example05"
@rendermode InteractiveServer

<div>
    <div>
        <input type="number" @bind="searchTerm" placeholder="Write the sun number">
        <button @onclick="SearchPhotos">Search</button>
    </div>

    <ul>
        @foreach (var image in photos)
        {
            <li>
                <article>
                    <img src="@image.img_src" alt="@image.id"  />
                    <h2>@image.earth_date</h2>
                </article>
            </li>
        }
    </ul>
</div>

@code {
    private string searchTerm;
    private List<MarsPhoto> photos = new List<MarsPhoto>();

    private record MarsPhoto
    {
        public string id { get; init; }
        public string img_src { get; init; }
        public string earth_date { get; init; }
    }

    private async Task SearchPhotos()
    {
        try
        {
            using var httpClient = new HttpClient();
            var response = await httpClient.GetFromJsonAsync<MarsPhotosResponse>($"https://api.nasa.gov/mars-photos/api/v1/rovers/curiosity/photos?sol={searchTerm}&page=1&api_key=LLWiwai8ZooMBWMdLnNN1nUlLBjtdNRUe9wjH7pA");

            if (response != null && response.photos != null)
            {
                photos = response.photos;
            }
            else
            {
                photos = new List<MarsPhoto>();
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine("Error fetching Mars photos: " + ex.Message);
        }
    }

    private record MarsPhotosResponse
    {
        public List<MarsPhoto> photos { get; init; }
    }
}
