@page "/"

<PageTitle>BlazorAPP</PageTitle>

<h2 >Practical
    application with Vue, TypeScript, Tailwind and API calls</h2>
<p>On this page I use the third most popular front-end framework, Vue.js combined with TailWind, calling
    different APIs and using Routing and other Vue functions.</p>
<h2>About me</h2>
<p>I was born on February 14,2004 in the city of San Pedro, the city where i live. During the week i
    work, train, study and try to enjoy my family`s as much time as possible, especially my grandparents.
    I consider myself an efficient person, developing my activities in an organized manner. I am characterized by a
    healthy and passionate ambition, necessary to be learning and developing activities necessary to obtain the
    different goals that I propose.</p>

